.header{
    background: #333;
    color: #fff;
    padding: 15px 0;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    font-size: 24px;
    margin: 0;
    font-weight: 600;
    display: inline-block;
}
.header p{
    display: inline-block;
    font-size: 14px;
    margin: 0;
}