h2{
    font-size: 22px;
    margin: 19px 0;
}
ul li{
    font-style: italic;
    font-size: 14px;
    color: #F16C49;
}
ul li:before{
    content: '\f0da';
    font-family: FontAwesome;
    padding-right: 6px;
    font-size: 10px;
}