<div class="container">
  <div class="category">
    <div class="head">
      <h2>Category </h2>
      <a href="#" class="buynowLink" routerLink="category/addEdit">Add category </a>
    </div>
    <ul class="category-table">
      <!-- Repeat -->
      <li>
        <p>Mobile</p>
        <div>
          <a href="#" routerLink="category/product">Product </a>
          <a href="#" routerLink="category/view">View </a>
          <a href="#" routerLink="category/addEdit">Edit </a>
        </div>
      </li>
      <!-- /Repeat -->
    </ul>
  </div>
</div>
