<div class="container">
  <a href="#" class="simpleLink topPadd" routerLink=""><i class="fa fa-long-arrow-left"></i> Back to category </a>
  <h2>Add/Edit Category </h2>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  <form>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="pname">Product Name</label>
          <input type="text" class="form-control" id="pname" placeholder="Enter product name">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="pid">Product id</label>
          <input type="text" class="form-control" id="pid" placeholder="Enter product id">
          <small class="form-text text-muted">Product id will be unique. </small>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="ptype">Product type</label>
          <select class="form-control" id="ptype">
            <option>Type 1</option>
            <option>Type 2</option>
            <option>Type 3</option>
            <option>Type 4</option>
            <option>Type 5</option>
          </select>
        </div>
      </div>
      
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
    <button type="submit" class="buynowLink topPadd">Submit</button>
  </form>
  
</div>
